body {
  margin: 10px;
}

tspan {
  font-size: x-small;
  
}
table {
  border-spacing:20px;
}

td {
  font-size: small;
  
/*  border-radius: 4px;*/
  border-radius:10px;
  -moz-border-radius:10px; /* Firefox 3.6 and earlier */
  border: 1px solid white;

}

td.tech {
  width: 16.667%;
  height: 25%;
}

td.Combat {
  background-color: #F0877A;
}

td.Biotech {
  background-color: #93F980;
}

td.Logistics {
  background-color: #FF9;
}

td.General {
  background-color: #98ACDA;
}

td.Unselected {
  opacity: 0.8;
}

td.Selected {
  opacity: 1.0;
  border-color: black;
  font-weight: bolder;
/*  border-width: 2px;*/
}

td.Hover {
  opacity: 1.0;
  border-color: black;
}


td.Unavailable {
  opacity: 0.3;
}

td.Available {
  opacity: 1.0;
}

td.Purchased {
  font-weight: bold;
}

img {
  float: left;
}

p.fulltext {
  font-weight: bold;
}

span.owned {
  text-decoration:line-through;
}

li > img {
 float: none;
}

#legend {
  padding:5px;
  border:1px solid;
  border-radius:25px;
  -moz-border-radius:25px; /* Firefox 3.6 and earlier */
}

.hidden {
  display: none;
}